<% require 'twitter' %>

<div class="border-bottom float-none">
    <h1>Welcome back to The Big Leagues!</h1>
</div>

<% if @manage_player_profile.present? %>
  <%= render @manage_player_profile %>
<% else %>
  <p>Your team currently doesn't have any registered players.</p>
<% end %>